studio/php_errors.log
conexao.php
studio/conexao.php
install.php
MANUAL_ESTOQUE.md
PLANO_BLOQUEIO_CAIXA.md
PLANO_ESTOQUE.md
PLANO_PREVENCAO_DUPLICIDADE.md
README_MODIFICAOES.md
README.md
REDAME.md
WebCaixa.session.sql

_em_referencia